*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;font-family: sans-serif;
}
header{
    h1{
        color: #000000;
        font-weight: 600;
    }
    text-align: center;
    margin-top: 40px;
}
#btn1{
    cursor: pointer;
    margin-top: 20px;
    padding: 10px 40px;
    background-color: white;
    border-radius: 10px;
    border: 1px solid #000000;
    transition: ease-in 0.1s;
    color: #000000;
    font-weight: 600;
}
#btn1:hover{
    background-color: rgb(216, 209, 209);
    transform: translateY(-5px);
}
#btn1:active{ 
    transform: translateY(3px);
}


.card{
    width: 300px;
    height: 390px;
    border: 1px solid #000000;
}
.container{
    max-width: 1200px;
    margin-left: 30px;
}
.cards{
    margin-top:100px;
    display: grid;  
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;

    
}
.photo{
     width: 100px;
     margin-left: 30%;
     margin-top: 10px;
     margin-bottom: 20px;
}
.info{
    background-color: black;
    width: 299px;
    height: 215px;
}

h3{
    color: white;
    font-weight: 600;
    font-size: 20px;
    margin-left: 20px;
    padding-top: 20px;
}
.desc{
    color: #FFFFFF8F;
    font-size: 12px;
    margin-left: 20px;
     padding-top: 15px;
}
.details{
    display: flex;
    gap: 5px;
}
.price{
    display: flex;
    margin: 20px;
    gap: 5px;
    font-size:  20px;;
}
.price109{
 color: white;
}
.rate{
    display: flex;
    margin: 20px;
    gap: 5px;
    font-size: 20px;
}
.rate39{
  font-size: 20px;
  color: white;
}
.buys{
    display: flex;
    margin: 20px;
    gap: 5px;
    font-size:  20px;;
}
.t120{
    color: white;
    width: 30px;
  
}
.size{
   height: 20px;
}
.btn{
    margin-left: 20px;
    transform: translateY(-2px);
}
.chosen{
    padding: 10px 80px;
}
.chosen{
    cursor: pointer;
    color: #000000;
    font-weight: 600;
    font-size: 15px;
}
.chosen.added {
    background-color: #007BFF; 
    color: white;
    border: none;
    cursor: pointer;
}